@font-face {
    font-family: Lexenddeca;
    src: url(./font/lexenddeca-variablefont_wght-webfont.woff);
}

* {
    box-sizing: border-box;
}

html{
    -webkit-text-size-adjust: 100%;
    height: 100%;
}

body{
    margin: 0px;
    line-height: 20px;
    background-color: #1D1D1D;
    background-image: url(./img/logo-icon-grey.svg);
    background-repeat: space;
    background-attachment: fixed;
    background-position: 0 0,50% 50%;
}

div{
    display: block;
}

img{
    border: 0;
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
}

h1{
    font-family: 'Lexenddeca', 'Calibri', sans-serif;
    font-size: 50px;
    line-height: 1.3em;
    letter-spacing: 1.5px;
    font-weight: 600;
    color: #1D1D1D;
}

.navbar{
    position:absolute;
    left:0;
    top:0;
    right:0;
    z-index: 100;
    padding-top: 40px;
    padding-right: 5%;
    padding-left: 5%;
    background-color: transparent;
    
    font-family: 'Lexenddeca', 'Calibri', sans-serif;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 1px;

}

.nav-container{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-right: 0;
    margin-left: 0;
}

.mobile-nav-button{
    display: none;
    margin-bottom: 10px;
}

.mobile-nav-menu-icon {
    display: block;
    width: 51px;
    height: 51px;
    transition: 0.3s ease transform;
    cursor: pointer;
    z-index: 100;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

.mobile-nav-menu-icon div {
    width: 6px;
    height: 6px;
    background-color: #E9D8C4;
    margin-left: 0;
    border-radius: 4px;
    transition: 0.3s ease width, 0.3s ease margin-left, 0.3s ease margin-bottom,
      0.3s ease background-color;

  }
  
.mobile-nav-menu-icon div:first-child {
    width: 35px;
  }
  
.mobile-nav-menu-icon div:nth-child(2) {
    width: 23px;
  }
  
.mobile-nav-menu-icon div:last-child {
    width: 44px;
    margin-bottom: 0;
  }

.nav-logo{
    margin-bottom:10px;
}

.nav-image{
    height: 51px;
}

.nav-menu{
    display: flex;
    align-items: center;
    flex: 0 0 auto;
}

.nav-link-wrapper{
    display: inline-block;
    margin-right: 10px;
    margin-bottom: -2px;
    margin-left: 10px;
}

.nav-link{
    padding: 15px 10px 10px;
    border-bottom: 3px solid transparent;
    /*-webkit-transition: border-color .3s; ???*/
    transition: border-color .3s;
    color: #E9D8C4;
    font-size: 17px;
    line-height: 20px;
    letter-spacing: 1.25px;
    text-decoration: none;
}

.nav-link:hover{
    border-bottom: 3px solid #E9D8C4;
}

.inline-block {
    max-width: 100%;
    display: inline-block;
}

.hero-section{
    position: relative;
    overflow: hidden;
    height: 100vh;
    padding-top: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

.hero-main-wrapper{
    margin-right: 5%;
    margin-left: 5%;
    height: 45vh;
    width: 50%;
    padding: 0px;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    flex-direction: column;
}

.hero-title{
    max-width: 1000px;
    font-family: 'Lexenddeca', 'Calibri', sans-serif;
    font-size: 50px;
    line-height: 1.3em;
    letter-spacing: 1.5px;
    font-weight: 600;
    color: #E9D8C4;
}

/*.hero-link{
    text-decoration: none;
    overflow: hidden;
    text-decoration: none;
}

.hero-order-hover{
    position: absolute;
    margin-top: -65px;
    opacity: 0;
}

.hero-order, .hero-order-hover{
    transition: opacity .3s;
}

.hero-link:hover .hero-order{
    opacity: 0;
}

.hero-link:hover .hero-order-hover{
    opacity: 1;
}*/

.pimg1{
    position: relative;
    background-image: url(./img/stock.jpg);
    z-index: 1;
    width: 60vw;
    height: 55vh;
    margin-right: 5%;
    margin-left: auto;
    background-size: cover;
    background-repeat: no-repeat;
}

.tea-section{
    padding-top: 60px;
    height: 900px;
    background-color: #E9D8C4;
    text-align: center;
}

#clip-title{
    background-image: url(./img/logo-icon-grey.svg);
    background-color: #1D1D1D;
    background-repeat: space;
    background-attachment: fixed;
    background-position: 0 0,50% 50%;
    background-attachment: fixed;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.tea-content-wrapper{
    margin-top: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.tea-item{
    width: 300px;
    height: 400px;
    background-image: url(./img/stock2.png);
    background-size: 300px;
    background-position: 0 0, 50% 50%;
    background-repeat: no-repeat;
}

@media screen and (max-width: 991px) {
    .navbar{
        padding-top: 25px;
    }

    .nav-menu{
        display: none;
    }

    .mobile-nav-button{
        display: block;
    }

    .nav-image{
        content: url(img/logo-icon-white.svg);
    }
}